In [1]:
import cassandra

In [4]:
# Connecting to the database

from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [5]:
# Creating a key space

try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION = 
    {'class': 'SimpleStrategy', 'replication_factor':1}
    """)
except Exception as e:
    print(e)

In [6]:
# connecting to our keyspace

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [11]:
# Creating two tables

query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)
    
query1 = "CREATE TABLE IF NOT EXISTS album_library"
query1 = query1 + "(year int, artist_name text, album_name text, PRIMARY KEY (artist_name, year))"

try:
    session.execute(query1)
except Exception as e:
    print(e)

In [12]:
# Inserting data into the tables

query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"

query1 = "INSERT INTO album_library (artist_name, year, album_name)"
query1 = query1 + "VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1970, "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)

In [13]:
# Validating music_library table

try:
    rows = session.execute("select * from music_library WHERE year = 1970")
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name)

1970 The Beatles Let It Be
1970 The Carpenters Close To You

In [14]:
# Validating album_library table

try:
    rows = session.execute("select * from album_library WHERE artist_name = 'The Beatles'")
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist_name, row.year, row.album_name)

The Beatles 1965 Rubber Soul
The Beatles 1970 Let It Be

In [15]:
# droping tables

query = "drop table music_library"
try:
    session.execute(query)
except Exception as e:
    print(e)
    
query = "drop table album_library"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [16]:
session.shutdown()
cluster.shutdown()