In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading https://files.pythonhosted.org/packages/86/62/72cb7a4484a2b3ba0b293ac3f638980ef56e06195c3332e491250abcb822/cassandra_driver-3.24.0-cp36-cp36m-win_amd64.whl (2.7MB)
Requirement already satisfied: six>=1.9 in c:\users\ranir\anaconda3\lib\site-packages (from cassandra-driver) (1.11.0)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading https://files.pythonhosted.org/packages/c9/81/156ca48f950f833ddc392f8e3677ca50a18cb9d5db38ccb4ecea55a9303f/geomet-0.2.1.post1-py3-none-any.whl
Requirement already satisfied: click in c:\users\ranir\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.0)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.24.0 geomet-0.2.1.post1

In [2]:
import cassandra

In [27]:
# connect to the cassandra cluster after starting a cassandra cluster on localhost

from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [28]:
# testing the connection

try:
    session.execute(""" select * from music_library """)
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [29]:
# creating a keyspace

try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION = 
    {'class': 'SimpleStrategy', 'replication_factor':1}"""
)
except Exception as e:
    print(e)

In [30]:
# setting the keyspace

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [31]:
# creating a table

query = 'CREATE TABLE IF NOT EXISTS music_library'
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, album_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [32]:
# checking the table

query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)
    
print(count.one())

Row(count=0)

In [33]:
# Inserting rows

query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"
try:
    count = session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    count = session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [34]:
# validating the table

query = "select * from music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let it Be The Beatles

In [38]:
#query = "select * from music_library WHERE year=1970"
query = "select * from music_library WHERE year=1970 and artist_name = 'Let it Be'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [23]:
# dropping the table

query = "drop table music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [24]:
session.shutdown()
cluster.shutdown()